#cloud-config
system_info:
  default_user:
    name: centos
    gecos: RHEL Cloud User
    groups: [wheel, adm, systemd-journal]
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
  distro: rhel
  paths:
    cloud_dir: /var/lib/cloud
    templates_dir: /etc/cloud/templates
  ssh_svcname: sshd

write_files:
  - content: |
      ALLOW_WRITE = *
      ALLOW_READ = $(ALLOW_WRITE)
      ALLOW_NEGOTIATOR = $(ALLOW_WRITE)
      DAEMON_LIST = COLLECTOR, MASTER, NEGOTIATOR, SCHEDD
      FILESYSTEM_DOMAIN = vgcn
      UID_DOMAIN = vgcn
      TRUST_UID_DOMAIN = True
      SOFT_UID_DOMAIN = True
    owner: root:root
    path: /etc/condor/condor_config.local
    permissions: '0644'
  - content: |
      /data           /etc/auto.data          nfsvers=3
    owner: root:root
    path: /etc/auto.master.d/data.autofs
    permissions: '0644'
  - content: |
      share  -rw,hard,intr,nosuid,quota  ${nfs_ip}:/data/share
    owner: root:root
    path: /etc/auto.data
    permissions: '0644'
  - content: |
      Host *
          GSSAPIAuthentication yes
          ForwardX11Trusted yes
          SendEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
          SendEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
          SendEnv LC_IDENTIFICATION LC_ALL LANGUAGE
          SendEnv XMODIFIERS
          StrictHostKeyChecking no
          UserKnownHostsFile=/dev/null
    owner: root:root
    path: /etc.intra-vgcn-key.ssh_config
    permissions: '0644'

runcmd:
  - [ firewall-cmd, --permanent, --add-port=2049/tcp ]
  - [ firewall-cmd, --reload ]
  - [ automount ]
  - [ sh, -xc, "sed -i 's|nameserver 10.0.2.3||g' /etc/resolv.conf" ]
  - [ sh, -xc, "sed -i 's|localhost.localdomain|$(hostname -f)|g' /etc/telegraf/telegraf.conf" ]
  - systemctl restart telegraf
