
# Created by https://www.gitignore.io/api/terraform

### Terraform ###
# Compiled files
*.tfstate
*.tfstate.*

# Module directory
.terraform/

# .tfvars files
*.tfvars

# Ansible requirements roles
tf/ansible/roles/*

!tf/ansible/roles/usegalaxy-eu.bashrc/
!tf/ansible/roles/usegalaxy-eu.bashrc/**

# End of https://www.gitignore.io/api/terraform
.ssh_key
.venv
bin/