# HTCondor assumes that any two machines with the same value
# for this variable have the same shared filesystems.  Shared
# filesystems tend not to scale as well as you would like, but
# they do make it simpler to explain how a job accesses its file.
FILESYSTEM_DOMAIN = {{ htcondor_domain }}

# If your jobs are accessing a shared filesystem, they probably
# need to be run as the user who submitted them (as opposed to
# user nobody or a local user which only runs batch jobs).  This
# variable must be set to the same thing on the submit machine
# and on the execute machine to do this.
UID_DOMAIN = {{ htcondor_domain }}

# The UID_DOMAIN must normally be a suffix of the fully-qualified
# DNS name of the submit machine (as determined by a reverse
# lookup of the IP address used to contact the execute machine).
# Setting this variable relaxes that requirement, which is safe
# to do for this configuration because only submit machines you
# trust can contact your execute machines.
TRUST_UID_DOMAIN = TRUE

# Normally, before running a job as a particular user (that is,
# not as user nobody), HTCondor checks to make sure that user
# is in the password file.  Not all methods for sharing UIDs
# across machines store every user in every password file (for
# example, LDAP does not).  Setting this this variable relaxes
# this requirement.
SOFT_UID_DOMAIN = TRUE
